body{
     text-align: center;
     max-width: 1000px;
     margin: 0 auto;
}

header{
    height: 300px;
    margin-bottom: 30px;    
}
.content{
    background-color: rgb(217, 220, 220);
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
}
.content:hover{
    background-color: rgb(210, 210, 210); 
}
.images{
    width: 1000px;
    height: 300px;
    border-bottom-left-radius: 20px;

}
.foto{
    width: 1000px;
    height: 300px;
    border-bottom-left-radius: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align:center;
    margin-top: 60px;
    font-size: 20px;
}
.ttt{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.description{
    background-color: rgb(217, 220,220);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.description:hover {
    background-color: rgb(210, 210, 210);
}
.age{
    background-color: rgb(217, 220, 220);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.age:hover{background-color: rgb(210, 210, 210);
}
.lifestyle{
    background-color: rgb(217, 220, 220);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;    
    margin-bottom: 30px;
}
.lifestyle:hover{
    background-color: rgb(210, 210, 210);
}
.spawning{
        background-color: rgb(217, 220, 220);
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        margin-bottom: 30px;
}
.spawning:hover{
    background-color: rgb(210, 210, 210);
}
img{
    width: 200px;
    height: 200px;
    
    
}
.fish{
    background-color:rgb(217, 220, 220); ;
    margin:0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fish:hover{
    background-color: rgb(210, 210, 210);
}
.inf{
    border-radius: 20px;
}


    
